<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      >
    <head>
        <title>Cadastrando Livro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"> 
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    </head>
    <header th:insert=~{navbar.html}></header>
    <body>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center mx-auto" id="rowCadastrarLivro">
                <div class="col-12">
                    <h2>Cadastrando Livro</h2>
                    <form  method="post"th:action="@{/cadastrar-livro}" th:object="${livro}" id="formCadastrarLIvro">                  
                        <div class="row ">
                            <div class="m-3 col-sm-12">
                                <input type="text" class="form-control" placeholder="Nome" id="CadastrarLivroNome" name="nome">
                            </div>
                            <div class="m-3 col-sm-12">
                                <input type="text" class="form-control" placeholder="Autor" id="CadastrarLivroAutor" name="autor">
                            </div>
                            <div class="m-3 col-sm-12">
                                <textarea class="form-control"  placeholder="Sinopse" rows="4" id="CadastrarLivroSinopse" name="sinopse"></textarea>
                            </div>                            
                            <div class="m-3 col">
                                <input type="date" class="form-control"  placeholder="" id="CadastrarLivroDataPublicacao" name="data">
                            </div>                    
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar Livro</button>                               
                    </form>
                </div>
            </div>  
        </div>        
        <script th:src="@{/js/script.js}"></script> 
    </body> 
</html>
