<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Detalhes do Livro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"> 
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    </head>
    <header th:insert=~{navbar.html}></header>
    <body>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center mb-4">
                <div class="col-12 text-center">
                    <th:block th:with="livroNome=${livro.nome.replaceAll(' ', '_')}, livroAutor=${livro.autor.replaceAll(' ', '_')}, imagemNome=${livroNome + '_' + livroAutor}">
                                <img class="mt-5" th:src="@{'../images/' + ${imagemNome + '.jpg'}}" alt="" title=""
                                     th:alt="${livro.nome}" th:title="${livro.nome}"
                                     onerror="this.src='../images/img_placeholder.jpg';">
                     </th:block>
                    
                    <h1 id="livro-nome" th:text="${livro.nome}"></h1>
                    <p id="livro-autor" th:text="${livro.autor}"></p>
                    <p id="livro-dataLancamento" th:text="${#dates.format(livro.dataPublicacao, 'dd/MM/yyyy')}"></p>
                    <p id="livro-sinopse" th:text="${livro.sinopse}"></p>
                    <button id="btnEditarlivro" class="btn btn-primary">Editar</button>
                </div>               
            </div>
            <div class="row d-flex align-items-center justify-content-center" id="rowAdicionarAnalise">
                <div class="col-8">
                    <h2>Adicionar Análise</h2>
                    <form  method="post" id="formAdicionarAnalise">
                        <div class="form-group">
                            <label for="adicionarAnaliseTitulo">Titulo</label>
                            <input type="text" name="titulo" class="form-control" min="1" max="5"id="adicionarAnaliseTitulo" required>
                        </div>
                        <div class="form-group">
                            <label for="adicionarAnaliseAnalise">Sua Análise:</label>
                            <textarea name="analise" class="form-control" id="adicionarAnaliseAnalise" required></textarea >
                        </div>
                        <div class="form-group">
                            <label for="adicionarAnaliseNota">Nota:</label>
                            <input type="number" name="nota" class="form-control" min="1" max="5"id="adicionarAnaliseNota" required>
                        </div>                            
                        <button type="submit" class="btn btn-primary" >Adicionar Análise</button>
                    </form>
                </div>               
            </div>
            <div class="row d-flex align-items-center justify-content-center" id="rowEditarAnalise">
                <div class="col-8">
                    <h2>Editando Análise</h2>
                    <form  method="post" id="formEditarAnalise">
                        <div class="form-group">
                            <label for="EditarAnaliseTitulo">Titulo</label>
                            <input type="text" name="titulo" class="form-control" min="1" max="5"id="EditarAnaliseTitulo" required>
                        </div>
                        <div class="form-group">
                            <label for="EditarAnaliseAnalise">Sua Análise:</label>
                            <textarea name="analise" class="form-control" id="EditarAnaliseAnalise" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="EditarAnaliseNota">Nota:</label>
                            <input type="number" name="nota" class="form-control" min="1" max="5"id="EditarAnaliseNota" required>
                        </div>                            
                        <button type="submit" class="btn btn-primary" >Editar Análise</button>
                    </form>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center" id="rowEditarLivro">
                <div class="col-8">
                    <h2>Editando Livro</h2>
                    <form  method="post" id="formEditarLIvro">                  
                        <div class="row align-items-center justify-content-center ">
                            <div class="m-3 col-sm-12">
                                <input type="text" class="form-control" placeholder="Nome" id="editarLivroNome" th:value="${livro.nome}" required>
                            </div>
                            <div class="m-3 col-sm-12">
                                <input type="text" class="form-control" placeholder="Autor" id="editarLivroAutor" th:value="${livro.autor}" required>
                            </div>
                            <div class="m-3 col-sm-12">
                                <textarea class="form-control"  placeholder="Sinopse" rows="4" id="editarLivroSinopse" th:text="${livro.sinopse}" required></textarea>
                            </div>                            
                            <div class="m-3 col">
                                <input type="date" class="form-control"  placeholder="" id="editarLivroDataLancamento" th:value="${#dates.format(livro.dataPublicacao, 'yyyy-MM-dd')}" required>
                            </div>                    
                        </div>
                        <button id="btnCancelarEditarLivro" type="button" class="btn btn-secondary">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar Livro</button>
                        <button id="btnExcluirLivro" type="button" class="mx-5 btn btn-danger">Excluir</button>                      

                    </form>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-10">
                    <h2 class="mb-4">Análises</h2>        
                    <li>
                        <div class="card bg-light mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Impressionante!</h5>
                                <p class="card-text">A visão distópica de Orwell é incrivelmente relevante até hoje. Um clássico atemporal.</p>
                                <p class="card-text">Nota: <span>5</span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card bg-light mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Profundo e Provocativo</h5>
                                <p class="card-text">A narrativa de Orwell mergulha nas complexidades do controle social. Uma obra-prima literária.</p>
                                <p class="card-text">Nota: <span>4</span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card bg-light mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Impactante!</h5>
                                <p class="card-text">A crítica à vigilância estatal e à manipulação da verdade ressoa fortemente. Um livro que deixa marca.</p>
                                <p class="card-text">Nota: <span>3</span></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card bg-light mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Leitura Obrigatória</h5>
                                <p class="card-text">Essencial para compreender os perigos do totalitarismo. Uma experiência literária intensa e necessária.</p>
                                <p class="card-text">Nota: <span>5</span></p>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
            <script th:src="@{/js/script.js}"></script> 
    </body>
</html>
