<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      >
    <head>
        <title>Biblioteca Resenha</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"> 
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    </head>
    <header th:insert=~{navbar.html}></header>
    <body>
        <div class="container">
            <div class="row justify-content-center" id="livros-list">               
                <div class="livro p2 mb-2 col-sm-3">
                    <div >
                        <a href="detalhes">
                            <img class="w-100" src="../images/img_placeholder.png" alt="" title="" style="">
                        </a>
                        <p>
                            <span>1984</span>
                        </p>
                        <p class="mb-0">
                            <span>George Orwell</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>         
        <script th:src="@{/js/script.js}"></script> 
    </body> 
</html>
