<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center mb-5 col-12 mx-auto">
            <a class="navbar-brand">Biblioteca Resenha</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Cadastrar Livro</a>
                </li>            
            </ul>
        </nav>
    </div>
</html>
